node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#contracts
contracts/Lock.sol

#tests
test/Lock.js

#scripts
scripts/deploy.js

